<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="externalresourcesrepo.ExtentReporterNG"></listener>
    </listeners>
    <test thread-count="3" name="test" parallel="classes" preserve-order="true">
        <classes>
            <class name="org.nuvepro.container.chrome.nodes.ChromeNode1">
            </class>
        </classes>
    </test>
</suite>